*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
    overflow: hidden;
}

canvas {
    background-image: url("../assets/images/floor.jpg");
    background-size: 128px 128px; /* Set the size of each tile */
    background-repeat: repeat;
    display: block;
}
